name: RDP

on:
  workflow_dispatch:

jobs:
  secure-rdp:
    runs-on: ubuntu-latest
    timeout-minutes: 360

    steps:
      - name: Install XRDP and lightweight desktop
        run: |
          sudo apt install -y -qq xrdp lxde-core lxde-common tigervnc-standalone-server
          echo "startlxde" > ~/.xsession

      - name: Create RDP user
        run: |
          PASS=$(openssl rand -base64 10)
          sudo useradd -m rdp
          echo "rdp:$PASS" | sudo chpasswd
          sudo usermod -aG sudo rdp
          echo "RDP_PASS=$PASS" >> $GITHUB_ENV

      - name: Start XRDP
        run: |
          sudo systemctl restart xrdp
          ss -tlnp | grep 3389

      - name: Install Tailscale
        run: |
          curl -fsSL https://tailscale.com/install.sh | sh

      - name: Start Tailscale
        run: |
          sudo tailscale up --authkey=${{ secrets.TAILSCALE_AUTH_KEY }} --hostname=gh-ubuntu-${{ github.run_id }}

          for i in {1..10}; do
            TSIP=$(tailscale ip -4)
            [ -n "$TSIP" ] && break
            sleep 5
          done

          if [ -z "$TSIP" ]; then
            echo "No Tailscale IP"
            exit 1
          fi

          echo "TAILSCALE_IP=$TSIP" >> $GITHUB_ENV

      - name: Show access info
        run: |
          echo ""
          echo "==== RDP ACCESS ===="
          echo "Address: $TAILSCALE_IP"
          echo "Username: rdp"
          echo "Password: $RDP_PASS"
          echo "===================="
          echo ""

      - name: Keep alive
        run: |
          while true; do sleep 300; done
